.landing-page{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%; 
    text-align: center;
}
#lpimg1{
    padding-bottom: 1%;
}
#lpimg2{
    margin-top: 10%;
    padding-bottom: 40px;
}
h1.lp,p.lp{
    text-transform: uppercase;
    color: white;
    text-align: center;
}
p.lp{
    font-size: 15px;
}
.container-fluid{
    /* height: 300px; */
    padding: 30px;
    text-align: center;
}
h2,p{
    text-align: center;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.services{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/s_image.jpg?raw=true');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 9%;
    text-align: center;
}
h2.srv,p.srv{
    color: white;
}
.portfolio{
    padding: 20px;
    text-align: center;
}
img.img{
    padding: 20px;
}
.footer{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/c_image.jpg?raw=true');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat; 
    padding: 5%;
    text-align: center; 
}
h2#ft{
    color: white;
}
::placeholder{
    color: white;
}
input[type=text],input[type=email]{
    background: transparent;
    padding: 5px;
    margin-left: 20%;
}
#textarea{
    background: transparent;
    width: 60%;
    height: 200px;
    margin-left: 20%; 
}
.form-control::placeholder{
     color:white;
    }
.icons{
    text-align: center;
    padding: 18px;
}
.icn{
    padding: 15px;
}
#hide,#hide1,#hide2{
    display: none;
}
button{
    margin-right: 50% !important;
}
.col-md-2 img{
    width: 200px;
    margin: 20px; 
    padding: 10px;
}  
p#name1{
    display: none;
    color: black;
    background-color: beige;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 42px;
    width: 200px;
    height: 200px;
    padding: 30%;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
p#name2{
    display: none;
    color: black;
    background-color: beige;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 42px;
    width: 200px;
    height: 200px;
    padding: 30%;   
    font-size: 28px;
    font-family: 'Lobster', cursive; 
}
p#name3{
    display: none;
    /* color: black; */
    background-color: beige;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 30px;
    width: 200px;
    height: 200px;
    padding: 30%;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
p#name4,p#name5,p#name6,p#name7,p#name8{
    display: none;
    color: black;
    background-color: beige;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 42px;
    width: 200px;
    height: 200px;
    padding: 30%;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}