.landing-page{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%; 
    text-align: center;
}
#img1{
    padding-bottom: 1%;
}
#img2{
    margin-top: 10%;
    padding-bottom: 40px;
}
h1.lp,p.lp{
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.container-fluid{
    height: 300px;
    padding: 30px;
    text-align: center;
}
h2,p{
    text-align: center;
}
.services{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/s_image.jpg?raw=true');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding-top: 20%;
    text-align: center;
}
h2.srv,p.srv{
    color: white;
}
.portfolio{
    padding: 20px;
    text-align: center;
}
img.img{
    padding: 20px;
}
.footer{
    background-image: url('https://github.com/MungaiKeren/Delani_studio/blob/master/assets/backgrounds/c_image.jpg?raw=true');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 5%; 
    text-align: center; 
}
h1#ft{
    color: white;
}
form{
    padding: 18px;
}
input{
    border: 2px solid white;
    background: transparent;
}
::placeholder{
    color: white;
}
textarea{
    height: 100px;
    background: transparent;
}
